[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
python-binance = "*"
dash = "*"
plotly = "*"
dash-core-components = "*"
pyorbital = "*"
pandas = "*"
xlrd = "*"
"plotly.express" = "*"
redis = "*"
dash-daq = "*"

[dev-packages]

[requires]
python_version = "3.9"
