body {
    font-family: fantasy;
    background-color: #292927;
}
h1, h2, h3, h4, h5, h6 {
    color: #d2ff2f;
    font-family: "lucida console";
    border-style: solid;
    border-color:  #d2ff2f;
    border-width: medium;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align:center;
    font-size: 34px;

}


mark.red {
    color:#ff0000;
    background: none;
}